.title {
    color: rgb(16, 24, 40);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.price {
    color: rgb(16, 24, 40);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.rating {
    color: rgb(16, 24, 40);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.location {
    color: rgb(16, 24, 40);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    color: rgb(71, 84, 103);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.image{
    width: 292px;
        height: 312px;
        border-radius: 10px;
}

.imageContainer{
    display: flex;
    align-items: center;
    gap: 48px;
}

.container{
    margin-bottom: 60px;
        max-width: 1440px;
            padding-left: 64px;
            padding-right: 64px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 48px;
}

.navFormContainer{
    display: flex;
}

.infoContainer{
    display: flex;
                padding-left: 64px;
                padding-right: 64px;
                margin-left: auto;
                margin-right: auto;
}