.filtersTitle{
    color: rgb(71, 84, 103);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
}

.filters{
    color: rgb(16, 24, 40);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 48px;
}

.filtersIcon{
        border: 1px solid rgb(218, 221, 225);
        border-radius: 12px;
        color: rgb(16, 24, 40);
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.5%;
            text-align: center;
            width: 112px;
                height: 96px;
}

.filtersIconActive{
    border: 1px solid rgb(228, 72, 72);
            border-radius: 12px;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5%;
                text-align: center;
                width: 112px;
                height: 96px;
}

.filtersIcon:focus{
    border: 1px solid rgb(228, 72, 72);
}

.filtersContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 48px;
    width: 360px;
    flex-wrap: wrap;
}

.searchButton{
                position: static;
                    width: 200px;
                    height: 56px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10;
                    padding: 16px 60px 16px 60px;
                
                
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    margin: 40px 0px;
                
                    border-radius: 200px;
                
                    background: rgb(228, 72, 72);
}