.formButton{
    position: static;
        width: 200px;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10;
        padding: 16px 60px 16px 60px;
    
    
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 40px 0px;
    
        border-radius: 200px;
    
        background: rgb(228, 72, 72);
}

.formGroup{
    color: rgb(108, 113, 123);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
}

.title{
    color: rgb(16, 24, 40);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 8px;
}

.caption{
    color: rgb(108, 113, 123);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 24px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 14px;
}