.location{
color: rgb(108, 113, 123);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.locationInput{
color: rgb(16, 24, 40);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.locationInput::placeholder{
    color: rgb(16, 24, 40);
}

.icon {
margin-right: 8px;
    display: inline-block;
}